// Les couleurs principales
$primary-color: #901C1C;
$secondary-color: #D3573C;
$tertiary-color: #525252;
$quaternary-color: #FAFAFA;

//Les couleurs générales
$black-color: #000;
$white-color: #FFF;
$price-color: #757575;
$bg-price-color: #DB8876;
