.button{
  background-color: $primary-color;
  width: 170px;
  height: 35px;

  color: $white-color;

  border-radius: 5px;
  border: none;

  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;

  @include desktop{
    height: 69px;     
  }
  &:hover{
    cursor: pointer;
  }
}